<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Pesquise pelo título, categoria ou descrição de um post" aria-label="Recipient's username" aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
</div>
<hr>
<h2>Lista de categorias</h2>
<a href="/admin/add-categoria"><button class="btn btn-success mb-4">Adicionar nova categoria <i class="bi bi-plus-circle"></i></button></a>
{{#each categorias}}

    <div class="card">
        <div class="card-body">
            <p>Nome: {{nome}}</p>
            <small>Slug: {{slug}}</small>
            <br>
            <a href="/admin/edit-categoria/{{id}}"><button class="btn btn-success mt-2">Editar Categoria <i class="bi bi-pencil"></i></button></a>
            <a href="/admin/delete-categoria/{{id}}"><button class="btn btn-danger mt-2">Deletar Categoria <i class="bi bi-trash"></i></button></a>
        </div>
    </div>
    <br>

{{else}}
    <h4>Nenhuma categoria encontrada</h4>
{{/each}}