<h1>Bem vindo(a)</h1>
<div>
    <form action="/admin/buscar-postagem/" class=" input-group mb-3 d-flex flex-row bd-highlight mb-3" method="POST">

        <input type="text" name="palavra" id="palavra" class="form-control" placeholder="Pesquise pelo título, categoria ou descrição de um post" aria-label="Recipient's username" aria-describedby="button-addon2" required>
        <button class="btn btn-outline-secondary" id="button-addon2">Buscar</button>

    </form>
</div>
<hr>
<h2>Postagens</h2>

{{#each postagens}}

    <div class="card">
        <div class="card-body">
            <p>Titulo: {{titulo}}</p>
            <p>Descrição: {{descricao}}</p>
            <p>Conteúdo: {{conteudo}}</p>
            <p>Categoria: {{categoria.nome}}</p>
            <small>Slug: {{slug}}</small>
            <br>
            <a href=""><button class="btn btn-success mt-2">Salvar Postagem <i class="bi bi-bookmark-plus"></i></button></a>
            <a href=""><button class="btn btn-primary mt-2">Curtir Postagem <i class="bi bi-suit-heart"></i></button></a>
        </div>
    </div>
    <br>

{{else}}
    <h4>Nenhuma postagem encontrada</h4>
{{/each}}